@charset "utf-8";

h3{font-size: 42px;color: #777;}
strong{display: block;}
a{cursor: pointer;}

#cnt1{width: 100%;min-height: 100vh;height: 100%;overflow: hidden;}
#videobg{position: absolute;width: 100%;height: auto;min-width: 100%;min-height: 100%;}
#cnt1 h2{position: absolute;line-height: 260px;bottom: 150px;right: 0;font-family: calDream;font-size: 150px;letter-spacing: 30px;color: #ED9C63;font-weight: 400;background: rgba(47, 51, 45, 0.7);padding: 0px 150px 0px 50px;}

#content{width: 1440px;min-width: 1400px;max-width: 1920px;margin: 0 auto;overflow: hidden;margin-bottom: 100px;padding: 150px 0;}
#content article{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 100px 0;height: 100vh;line-height: 1.6;}

#cnt2 > div{position: absolute;bottom: 180px;}
#cnt2 .cnt2_txt{text-align: right;right: 500px;width: 750px;}
#cnt2 .cnt2_txt h4{font-size: 40px;font-weight: 500;}
#cnt2 .cnt2_txt h4 span{font-weight: 400;display: block;line-height: 1;color: rgba(237, 156, 99, 0.6);}
#cnt2 .cnt2_txt strong{font-size: 28px;margin-top: 10px;font-weight: 400;}
#cnt2 .cnt2_txt p{margin: 25px 0;font-size: 20px;}
#cnt2 .cnt2_txt > span{font-weight: 600;font-size: 20px;}
#cnt2 .cnt2_visual{right: 0;}
#cnt2 .cnt2_visual video{height: 600px;}

#cnt3 #peopleBtn{width: 100%;display: table;margin-top: 130px;}
#cnt3 button{display: table-cell;width: calc((100% - 50px) / 3);height: 470px;overflow: hidden;background-size: cover;}
#cnt3 button:nth-of-type(1){margin-right: 25px;background-image:url("../images/intro/cnt3-1.jpg");}
#cnt3 button:nth-of-type(2){margin-right: 25px;background-image:url("../images/intro/cnt3-2.jpg");}
#cnt3 button:nth-of-type(3){background-image:url("../images/intro/cnt3-3.jpg");}
#cnt3 button:nth-of-type(1):hover{background-image: url("../images/intro/cnt3-1-1.jpg");transition: 1s;}
#cnt3 button:nth-of-type(2):hover{background-image: url("../images/intro/cnt3-2-1.jpg");transition: 1s;}
#cnt3 button:nth-of-type(3):hover{background-image: url("../images/intro/cnt3-3-1.jpg");transition: 1s;}
#cnt3 .explain{width: 100%;transition: 1s;margin-top: 50px;}
#cnt3 .explain h4, #cnt3 .explain strong{width: 400px;}
#cnt3 .explain h4{font-size: 28px;color: #ED9C63;}
#cnt3 .explain strong{margin-top: 25px;font-size: 22px;}
#cnt3 .explain p{top: 0;left: 430px;font-size: 20px;letter-spacing: 3px;}
#cnt3 .explain p span{display: block;}
#cnt3 .explain.txt_b, #cnt3 .explain.txt_c{opacity: 0;}

#cnt4 a{position: absolute;overflow: hidden;transition: 1s;background-size: cover;}

#cnt4 a:nth-of-type(1){width: 300px;height: 330px;left: 0;top:300px;background: url("../images/intro/cnt4-1.jpg");}
#cnt4 a:nth-of-type(1):hover{background: url("../images/intro/cnt4-1-1.jpg") rgba(0,0,0,0.7);}
#cnt4 a:nth-of-type(2){width: 300px;height: 330px;left: 320px;top:300px;background: url("../images/intro/cnt4-2.jpg");}
#cnt4 a:nth-of-type(2):hover{background: url("../images/intro/cnt4-2-1.jpg") rgba(0,0,0,0.7);}
#cnt4 a:nth-of-type(3){width: 400px;height: 300px;left: 0;top: 650px;background: url("../images/intro/cnt4-3.jpg");}
#cnt4 a:nth-of-type(3):hover{background: url("../images/intro/cnt4-3-1.jpg") rgba(0,0,0,0.7);}
#cnt4 a:nth-of-type(4){width: 400px;height: 300px;left: 420px;top: 650px;background: url("../images/intro/cnt4-4.jpg");}
#cnt4 a:nth-of-type(4):hover{background: url("../images/intro/cnt4-4-1.jpg") rgba(0,0,0,0.7);}
#cnt4 a:nth-of-type(5){width: 600px;height: 300px;left: 840px;top: 650px;background: url("../images/intro/cnt4-5.jpg");}
#cnt4 a:nth-of-type(5):hover{background: url("../images/intro/cnt4-5-1.jpg") rgba(0,0,0,0.7);}

.select{opacity: 0;}
#cnt4 .cnt4_1{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: absolute;top: 300px;left: 640px;width: 800px;transition: 1s;padding: 100px 50px;}
#cnt4 .cnt4_1 h4{font-size: 24px;}
#cnt4 .cnt4_1 p{margin-top: 30px;font-size: 20px;}

#cnt5 img{display: block;margin: 300px auto 0px;width: 1200px;}
#cnt5 .cnt5_1{top: 300px;left: 0;width: 60%;font-size: 24px;}
#cnt5 .cnt5_2{bottom: 150px;right: 0;}